html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.d-flex.h-100 {
    height: 100%;
}

#map {
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
}

#user-list {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

#user-list ul {
    list-style: none;
    padding: 0;
}

#user-list li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.btn-locate {
    background: #1DB954;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-locate:hover {
    background: #17a74a;
}

/* Style for KML list items */
.kml-list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Style for KML checkboxes */
.kml-checkbox {
    margin-right: 8px;
}